<div class="container">
  <form #selectieForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
        <div class="col" >
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Elijn" name="Elijn" [(ngModel)]="Niveaus.Elijn" (click)="ElijnClick(Niveaus.Elijn)">
                <label class="form-check-label" for="Elijn">
                    <H1>E-lijn</H1>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Elijninstap" name="Elijninstap" [(ngModel)]="Elijngroups.instap" (click)="lijnClick(categorieen.elijn.instap, Elijngroups.instap)">
                <label class="form-check-label" for="Elijninstap">
                    <H3>Instap</H3>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijninstapDP" name="ElijninstapDP" [(ngModel)]="categorieen.elijn.instap.damespaar">
                <label class="form-check-label" for="ElijninstapDP">
                    Damespaar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijninstapHP" name="ElijninstapHP" [(ngModel)]="categorieen.elijn.instap.herenpaar">
                <label class="form-check-label" for="ElijninstapHP">
                    Herenpaar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijninstapMP" name="ElijninstapMP" [(ngModel)]="categorieen.elijn.instap.mixpaar">
                <label class="form-check-label" for="ElijninstapMP">
                    Mixpaar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijninstapDG" name="ElijninstapDG" [(ngModel)]="categorieen.elijn.instap.damesgroep">
                <label class="form-check-label" for="ElijninstapDG">
                    Damesgroep
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijninstapHG" name="ElijninstapHG" [(ngModel)]="categorieen.elijn.instap.herengroep">
                <label class="form-check-label" for="ElijninstapHG">
                    Herengroep
                </label>
            </div>
            <p>&nbsp;</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Elijnjeugd" name="Elijnjeugd" [(ngModel)]="Elijngroups.jeugd" (click)="lijnClick(categorieen.elijn.jeugd, Elijngroups.jeugd)">
                <label class="form-check-label" for="Elijnjeugd">
                    <H3>Jeugd</H3>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijnjeugdDP" name="ElijnjeugdDP" [(ngModel)]="categorieen.elijn.jeugd.damespaar">
                <label class="form-check-label" for="ElijnjeugdDP">
                    Damespaar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijnjeugdHP" name="ElijnjeugdHP" [(ngModel)]="categorieen.elijn.jeugd.herenpaar">
                <label class="form-check-label" for="ElijnjeugdHP">
                    Herenpaar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijnjeugdMP" name="ElijnjeugdMP" [(ngModel)]="categorieen.elijn.jeugd.mixpaar">
                <label class="form-check-label" for="ElijnjeugdMP">
                    Mixpaar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijnjeugdDG" name="ElijnjeugdDG" [(ngModel)]="categorieen.elijn.jeugd.damesgroep">
                <label class="form-check-label" for="ElijnjeugdDG">
                    Damesgroep
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijnjeugdHG" name="ElijnjeugdHG" [(ngModel)]="categorieen.elijn.jeugd.herengroep">
                <label class="form-check-label" for="ElijnjeugdHG">
                    Herengroep
                </label>
            </div>
            <p>&nbsp;</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Elijnjunioren" name="Elijnjunioren" [(ngModel)]="Elijngroups.junior" (click)="lijnClick(categorieen.elijn.junior, Elijngroups.junior)">
                <label class="form-check-label" for="Elijnjunioren">
                    <H3>Junior</H3>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijnjuniorenDP" name="ElijnjuniorenDP" [(ngModel)]="categorieen.elijn.junior.damespaar">
                <label class="form-check-label" for="ElijnjuniorenDP">
                    Damespaar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijnjuniorenHP" name="ElijnjuniorenHP" [(ngModel)]="categorieen.elijn.junior.herenpaar">
                <label class="form-check-label" for="ElijnjuniorenHP">
                    Herenpaar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijnjuniorenMP" name="ElijnjuniorenMP" [(ngModel)]="categorieen.elijn.junior.mixpaar">
                <label class="form-check-label" for="ElijnjuniorenMP">
                    Mixpaar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijnjuniorenDG" name="ElijnjuniorenDG" [(ngModel)]="categorieen.elijn.junior.damesgroep">
                <label class="form-check-label" for="ElijnjuniorenDG">
                    Damesgroep
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijnjuniorenHG" name="ElijnjuniorenHG" [(ngModel)]="categorieen.elijn.junior.herengroep">
                <label class="form-check-label" for="ElijnjuniorenHG">
                    Herengroep
                </label>
            </div>
            <p>&nbsp;</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Elijnsenioren" name="Elijnsenioren" [(ngModel)]="Elijngroups.senior" (click)="lijnClick(categorieen.elijn.senior, Elijngroups.senior)">
                <label class="form-check-label" for="Elijnsenioren">
                    <H3>Senior</H3>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijnseniorenDP" name="ElijnseniorenDP" [(ngModel)]="categorieen.elijn.senior.damespaar">
                <label class="form-check-label" for="ElijnseniorenDP">
                    Damespaar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijnseniorenHP" name="ElijnseniorenHP" [(ngModel)]="categorieen.elijn.senior.herenpaar">
                <label class="form-check-label" for="ElijnseniorenHP">
                    Herenpaar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijnseniorenMP" name="ElijnseniorenMP" [(ngModel)]="categorieen.elijn.senior.mixpaar">
                <label class="form-check-label" for="ElijnseniorenMP">
                    Mixpaar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijnseniorenDG" name="ElijnseniorenDG" [(ngModel)]="categorieen.elijn.senior.damesgroep">
                <label class="form-check-label" for="ElijnseniorenDG">
                    Damesgroep
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ElijnseniorenHG" name="ElijnseniorenHG" [(ngModel)]="categorieen.elijn.senior.herengroep">
                <label class="form-check-label" for="ElijnseniorenHG">
                    Herengroep
                </label>
            </div>
            <p>&nbsp;</p>
        </div>
    </div>
  </form>
</div>
