<app-menubalk></app-menubalk>
<div class="vertical-spacer"></div>
<main role="main" class="container">
  <div class="container">
    <div class="jumbotron">
      <h1>Invoer scores</h1>
      <form #invoerForm="ngForm" (ngSubmit)="onSubmit(content)">
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label for="teamnummerSelect">Teamnummer</label>
              <select class="form-control" id="teamnummerSelect" (change)="updateFields()" [(ngModel)]="model.teamnummer" name="teamnummer"
                      required>
                <option></option>
                <option *ngFor="let team of allTeams" [value]="team.teamnummer">{{team.teamnummer}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="oefeningSelect">Oefening</label>
              <select class="form-control" id="oefeningSelect" (change)="updateFields()" [(ngModel)]="model.oefening" name="oefening" required>
                <option></option>
                <option *ngFor="let oefening of oefeningen" [value]="oefening">{{oefening}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="technischInput">Technisch</label>
              <input type="text" class="form-control" id="technischInput" [(ngModel)]="model.technisch" name="technisch"
                     required>
            </div>
            <div class="form-group">
              <label for="artistiekInput">Artistiek</label>
              <input type="text" class="form-control" id="artistiekInput" [(ngModel)]="model.artistiek" name="artistiek"
                     required>
            </div>
            <div class="form-group">
              <label for="moeilijkheidswaardeInput">Moeilijkheidswaarde</label>
              <input type="text" class="form-control" id="moeilijkheidswaardeInput"
                     [(ngModel)]="model.moeilijkheidswaarde" name="moeilijkheidswaarde" required>
            </div>
            <div class="form-group">
              <label for="specialeAftrekkenInput">Speciale aftrekken</label>
              <input type="text" class="form-control" id="specialeAftrekkenInput" [(ngModel)]="model.specialeAftrekken"
                     name="specialeAftrekken" required>
            </div>
          </div>
        </div>
        <div class="row float-sm-right">
          <button type="submit" class="btn btn-success btn-lg" [disabled]="!invoerForm.form.valid">OK</button>
          <button type="button" class="btn btn-secondary btn-lg ml-2" (click)="initModel()">Cancel</button>
        </div>
        <div class="row">
          <ul>
            <li *ngFor="let score of savedScores | async">
              {{ score | json }}
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</main>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Controleer gegevens</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <h5>{{namen}}</h5>
      <div class="row">
        <div class="col-sm"> <!-- Left column -->
          <h5>Nr: </h5>
          <h5>Niveau: </h5>
          <h5>Oefening: </h5>
          <h5>Technisch: </h5>
          <h5>Artistiek: </h5>
          <h5>Moeilijkheidswaarde: </h5>
          <h5>Speciale aftrekken: </h5>
          <h5>Score: </h5>
        </div>
        <div class="col-sm">  <!-- Right column -->
          <h5>{{model.teamnummer}}</h5>
          <h5>{{niveau}} {{categorie}}</h5>
          <h5>{{model.oefening}}</h5>
          <h5>{{model.technisch}}</h5>
          <h5>{{model.artistiek}}</h5>
          <h5>{{model.moeilijkheidswaarde}}</h5>
          <h5>{{model.specialeAftrekken}}</h5>
          <h5>{{getScore()}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="opslaanTeams()">Opslaan</button>
  </div>
</ng-template>
