<app-menubalk></app-menubalk>
<div class="vertical-spacer"></div>

<main role="main" class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welkom bij de Valentijnscup 2020</h1>
      <p>Kies één van onderstaande acties:</p>
      <p><a class="btn btn-danger btn-lg btn-block" routerLink="/invoer" role="button">Voer scores in</a></p>
      <p><a class="btn btn-warning btn-lg btn-block" routerLink="/presentatie" role="button">Presentatie</a></p>
      <p><a class="btn btn-info btn-lg btn-block" routerLink="/uitvoer" role="button">Voer scores uit naar PDF</a></p>
    </div>
  </div>
</main>
