<div class="container">
    <p>&nbsp;</p>
    <div class="row">
        <H1>E-instap damespaar</H1>
    </div>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-sm">
            <H3>Plaats</H3>
        </div>
        <div class="col-sm">
            <H3>Nummer</H3>
        </div>
        <div class="col-sm">
            <H3>Team</H3>
        </div>
        <div class="col-sm">
            <H3>Oefening</H3>
        </div>
        <div class="col-sm">
            <H3>T</H3>
        </div>
        <div class="col-sm">
            <H3>A</H3>
        </div>
        <div class="col-sm">
            <H3>MW</H3>
        </div>
        <div class="col-sm">
            <H3>Aftr</H3>
        </div>
        <div class="col-sm">
            <H3>Score</H3>
        </div>
    </div>
</div>
