<div style="width: 90%; margin: auto">
    <meta http-equiv="refresh" content="10999">
    <p>&nbsp;</p>
    <div class="row">
        <H1>{{titel}}</H1>
    </div>
    <p>&nbsp;</p>
    <table class="table table-striped">
        <thead class="tablehead">
        <tr>
            <th scope="col">
                <H4>Plaats</H4>
            </th>
            <th scope="col">
                <H4>Nr</H4>
            </th>
            <th scope="col">
                <H4>Team</H4>
            </th>
            <th scope="col">
                <H4>Club</H4>
            </th>
            <th scope="col">
                <H4>T</H4>
            </th>
            <th scope="col">
                <H4>A</H4>
            </th>
            <th scope="col">
                <H4>MW</H4>
            </th>
            <th scope="col">
                <H4>Aftr</H4>
            </th>
            <th scope="col">
                <H4>Score</H4>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cat of slideArray">
            <th scope="row"><h4>{{cat[0]}}</h4></th>
            <td> <h4>{{cat[2]}}</h4></td>
            <td> {{cat[3]}}<br/>{{cat[4]}}<br/>{{cat[5]}}</td>
            <td> <h4>{{cat[6]}}</h4></td>
            <td> <h4>{{cat[7]}}</h4></td>
            <td> <h4>{{cat[8]}}</h4></td>
            <td> <h4>{{cat[9]}} </h4></td>
            <td> <h4>{{cat[10]}}</h4></td>
            <td> <h4>{{cat[11]}}</h4></td>
        </tr>
        </tbody>
    </table>
</div>
