<div class="container">
    <p>&nbsp;</p>
    <div class="row">
        <H1>{{titel}}</H1>
    </div>
    <p>&nbsp;</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">
                <H4>Plaats</H4>
            </th>
            <th scope="col">
                <H4>Nummer</H4>
            </th>
            <th scope="col">
                <H4>Team</H4>
            </th>
            <th scope="col">
                <H4>T</H4>
            </th>
            <th scope="col">
                <H4>A</H4>
            </th>
            <th scope="col">
                <H4>MW</H4>
            </th>
            <th scope="col">
                <H4>Aftr</H4>
            </th>
            <th scope="col">
                <H4>Score</H4>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">plaats</th>
            <td>{{teamArray[0][0]}}</td>
            <td>{{teamArray[0][1]}}</td>
            <td>{{teamArray[0][2]}}</td>
            <td>{{teamArray[0][3]}}</td>
            <td>{{teamArray[0][4]}}</td>
            <td>{{teamArray[0][5]}}</td>
            <td>{{teamArray[0][6]}}</td>
        </tr>
        </tbody>
    </table>
</div>
